aiofiles
alembic
backoff
fastapi
fastapi-plugins
fastapi-limiter
httpx
jinja2
psycopg2-binary
pytest
pytest-asyncio
pytz
PyYAML
requests
starlette_exporter
sqlalchemy
tqdm
uvicorn[standard]
zstandard
