{
    admin caddy:2019
    servers {
        metrics
    }
}

ethstaker.tax http://localhost:80 {
    handle /api/* {
        reverse_proxy api:8000
    }

    handle_path /preview* {
        try_files {path}
        file_server {
            root /tmp/preview
        }
    }

    reverse_proxy frontend:8000
}

www.ethstaker.tax {
    redir https://ethstaker.tax{uri}
}
