{
    admin caddy:2019
    servers {
        metrics
    }
}

ethstaker.tax http://localhost:80 {
    handle /api/* {
        reverse_proxy api:8000
    }

    handle_path /* {
        try_files {path}
        file_server {
            root /frontend_dist
        }
    }

    reverse_proxy frontend:8000
}

www.ethstaker.tax {
    redir https://ethstaker.tax{uri}
}

legacy.ethstaker.tax {
    handle /api/* {
        reverse_proxy api:8000
    }

    reverse_proxy frontend_legacy:8000
}
