{
    admin caddy:2019
}

eth2.tax http://localhost:80 {
    handle /api/* {
        reverse_proxy api:8000 {
            header_up X-Forwarded-For {remote_host}
        }
    }

    reverse_proxy frontend:8000
}
