<!doctype html>
<html lang="en">
<head>
    <title>ethstaker.tax</title>
    <meta
            name="description"
            content="Easily determine your Ethereum staking income!"
    >

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">

    <!-- Custom CSS/JS for this webapp -->
    <link rel="stylesheet" href="/dist/main.css">
    <script src="/dist/main.js"></script>
</head>

<body>
  <nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand ms-auto" href="https://serenita.io" target="_blank">
        <img class="logo" src="/static/images/logo-serenita.png" />
      </a>
    </div>
  </nav>
  <div class="container mb-5">
      <!--
      <div class="alert alert-info text-center alert-dismissible fade show m-0" role="alert">
        <strong>A Gitcoin matching round starts April 25th during which
         contributing even 1$ can make a big difference!</strong>
         <p>If you would like to donate during this round you'll need to have a
         <a target="_blank" href="https://passport.gitcoin.co/">Gitcoin Passport</a> set up. This needs
          to be done before the round starts!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      <div class="alert alert-info text-center alert-dismissible fade show py-1" role="alert">
        <p class="my-1"><strong>ethstaker.tax is part of an ongoing Gitcoin matching round, please consider donating
        <a href="https://explorer.gitcoin.co/#/round/10/0x8de918f0163b2021839a8d84954dd7e8e151326d/0x8de918f0163b2021839a8d84954dd7e8e151326d-37" target="_blank">here</a>
         to support this website!</strong></p>
        <p class="my-1">During a Gitcoin matching round, even donating 1$ can have a big impact. Thank you!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      -->
      <div class="alert alert-success text-center alert-dismissible fade show py-1" role="alert">
        <p class="my-1 text-muted">Check out the <a href="https://ethstaker.tax/preview" target="_blank">preview version</a> of ethstaker.tax and give us your thoughts!</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% block content %}
      {% endblock content %}
  </div>

{% include "footer.j2" %}
{% include "donationModal.j2" %}
</body>
</html>
