<div id="donationModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Support ethstaker.tax</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>
            I appreciate you wanting to support this project.
            A surprising amount of work has gone into making and maintaining this website since the launch of the
            beacon chain. More than 200 million rows of balances are stored in the database and more than
            a million post-merge blocks have been analysed for execution layer rewards.
            The most effective way to make a donation would be to make
            it to the <a href="https://explorer.gitcoin.co/#/round/1/0x12bb5bbbfe596dbc489d209299b8302c3300fa40/0x12bb5bbbfe596dbc489d209299b8302c3300fa40-46" target="_blank">Gitcoin grant</a> during a Gitcoin matching round.
        </p>
        <p>
            You can also donate directly to
        </p>
        <pre>0xFf74a280F1514D064D31ff7DD83f7E799cC0A0B7</pre>
        <p>
            Thank you!
        </p>
        <a role="button" onclick="navigator.clipboard.writeText('0xFf74a280F1514D064D31ff7DD83f7E799cC0A0B7').then(() => alert('Address copied to clipboard'));"><i class="bi-save"></i> Copy to clipboard </a>
        <br />
        <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseDonateQr" style="text-decoration: none; color: inherit"><i class="bi-qr-code"></i> Show QR code </a>
        <div id="collapseDonateQr" class="accordion-collapse collapse" aria-labelledby="collapseDonateQr">
          <img src="/static/images/donate-qr.png" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
