<nav class="navbar fixed-bottom bg-light">
    <div class="col">
        <a class="btn btn-outline-primary mx-2" role="button" data-bs-toggle="modal" data-bs-target="#donationModal">
            <i class="bi-currency-exchange"></i>
            Support this website
        </a>
    </div>
    <div class="col d-flex justify-content-center">
        <a class="footer-image-link p-1" href="https://github.com/serenita-org/ethstaker.tax/">
            <i class="bi-github"></i>
        </a>
        <a class="footer-image-link p-1" href="https://www.reddit.com/user/eth2353">
            <i class="bi-chat-left-text"></i>
        </a>
        <a class="footer-image-link p-1" href="https://twitter.com/serenitaio">
            <i class="bi-twitter"></i>
        </a>
        <a class="footer-image-link p-1" href="https://discordapp.com/users/737740104281489531">
            <i class="bi-discord"></i>
        </a>
    </div>
    <div class="col">
        <a class="btn btn-outline-primary float-end mx-2" href="https://github.com/serenita-org/ethstaker.tax/issues" role="button" target="_blank">
            <i class="bi-exclamation-circle"></i>
            Report an issue
        </a>
    </div>
</nav>
