{% extends "base.j2" %}

{% block content %}
<div class="alert alert-info text-center fade show" role="alert">
  <strong>Site is under maintenance, please check back later!</strong>
</div>
<div class="alert alert-warning text-center" role="alert">
  My database got corrupted, should be back up by the 1st of February.
</div>
{% endblock content %}
