<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/panda-icon.png">
    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
            integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@2.0.1/dist/chartjs-plugin-annotation.min.js"
            integrity="sha512-LZEOcU8s74hwWva82MJux7GgFNjfeExXG9yZPQrKz567Od4O2D/6UX3oGoZiRDOdbMtH33NBq7vonH4VOUPA/Q=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom@1.2.1/dist/chartjs-plugin-zoom.min.js"
            integrity="sha256-cRtVj62HOT1M3EGc+4EBacU/38hYsYrNBB48zEVn8uU=" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <!-- custom code -->
    <script src="/static/js/merge.js"></script>
    <style>
        .bg-att-source {
            background-color: #308863;
        }

        .bg-att-target {
            background-color: #4ABF8E;
        }

        .bg-att-head {
            background-color: #A4DFC7;
        }

        .bg-progress-epoch {
            background-color: #F0B67F;
        }

        .bg-progress-updating {
            background-color: #DDCAD9;
        }

        .btn-collapse {
            color: #FFFFFF;
            background-color: #AF83A6;
            border-color: #AF83A6;
        }

        .pandaImage {
            max-height: 200px;
            display: none;
        }
    </style>
    <title>The Merge Dashboard</title>
</head>
<body>
<div class="container-fluid">
    <div class="sticky-top mb-2">
        <div class="row">
            <div class="col-sm">
                <div id="rateLimitedToast" class="toast align-items-center justify-content-center" role="alert"
                     aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
                    <div class="toast-header">
                        <i class="bi-exclamation-square m-1"></i>
                        Rate limit exceeded!
                    </div>
                    <div class="toast-body">
                        <p>
                            Please make sure you only have this page open once.
                            The data on this site will update automatically in just a moment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm bg-light rounded-3">
                <div id="epochProgressText" class="text-center"></div>
                <div class="progress m-2">
                    <div id="progressBarEpochProgress"
                         class="progress-bar progress-bar-striped progress-bar-animated bg-progress-epoch"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="progress m-2">
                    <div id="progressBarUpdatingData"
                         class="progress-bar progress-bar-striped progress-bar-animated bg-progress-updating"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                        Updating...
                    </div>
                </div>
            </div>
            <div class="col-sm">
            </div>
        </div>
    </div>
    <!--
    <div class="alert alert-warning" role="alert">
      Dear visitors, I apologize but my node at home went down and therefore the site doesn't currently work 😔
        The server seems to be turned off and I have no way of turning it on remotely. I'll be back
        home on Oct 10th to check on it, so the site should be working shortly after.
    </div>
    -->
    <div class="p-3 mt-3">
        <h1 class="bd-title" id="content">The Merge</h1>
        <p class="bd-lead">
            The Merge is the most significant upgrade in the history of Ethereum, during which the
            existing execution layer of Ethereum (the Mainnet we use today) is joined with its new
            proof-of-stake consensus layer, the Beacon Chain. This website offers a way to track
            network activity during this important moment in Ethereum history.
        </p>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title">Total difficulty</h2>
            <p class="card-text">
                As part of the proof-of-work (PoW) consensus mechanism, blocks are mined
                and each mined block an associated difficulty. The sum of these
                difficulties of the entire blockchain is referred to as Total Difficulty.
                When the Total Difficulty reaches the TTD (Terminal Total Difficulty) value,
                the consensus mechanism will switch from proof-of-work (PoW) to
                proof-of-stake (PoS). The TTD value has been set to 58,750,000,000,000,000,000,000.
            </p>
            <p>
                <i>
                    What to watch for during The Merge:
                    The transition will occur once the Total Difficulty value (green) reaches the
                    Terminal Total Difficulty value (red). Once that, the block number should
                    keep increasing while the total difficulty stays the same.
                </i>
                <i>
                    Keep an eye on <a href="https://twitter.com/icebearhww/status/1431970802040127498">the bears</a>!
                </i>
            </p>
            <div class="d-flex row align-items-center">
                <div class="col-sm-8">
                    <canvas id="totalDifficultyChart" width="3" height="1"></canvas>
                </div>
                <div class="col-sm">
                    <div class="d-flex justify-content-center">
                        <img id="pandaImage1" class="img-fluid rounded-5 pandaImage" src="/static/images/panda-1.png"/>
                        <img id="pandaImage2" class="img-fluid rounded-5 pandaImage" src="/static/images/panda-2.png"/>
                        <img id="pandaImage3" class="img-fluid rounded-5 pandaImage" src="/static/images/panda-3.png"/>
                    </div>
                    <!-- not indexing current block number anymore
                    <div class="d-flex justify-content-center p-1">
                        <p>Current block number</p>
                    </div>
                    <div class="d-flex justify-content-center p-1">
                        <p id="currentBlockNumber"></p>
                    </div>
                    -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"
                               onchange="toggleDifficultyChartZero()">
                        <label class="form-check-label" for="flexCheckDefault">
                            From zero
                        </label>
                    </div>
                    <div>
                        <p>
                            <a class="btn btn-sm btn-collapse" data-bs-toggle="collapse" href="#collapseDifficultyCode"
                               role="button" aria-expanded="false" aria-controls="collapseDifficultyCode">
                                <i class="bi-question-square m-1"></i>
                                How to get this data
                            </a>
                        </p>
                        <div class="collapse" id="collapseDifficultyCode">
                            <div class="card card-body">
                                <p>
                                    Query your EL node using JSON-RPC. Ask for the current block number using
                                </p>
                                <pre>eth_blockNumber</pre>
                                <p>
                                    Then get that block's details using
                                </p>
                                <pre>eth_getBlockByNumber</pre>
                                <p>
                                    The response will contain the total difficulty.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title">Attestations</h2>
            <p class="card-text">
                As part of the proof-of-stake (PoS) consensus mechanism, validators are expected to create, sign and
                broadcast attestations.
                The purpose of these is to vote in favor of the validator's view of the chain. The combined attestations
                of all validators
                allow the network to reach consensus.
            </p>
            <p class="card-text">
                Validators submit their view of:
            </p>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The most recent justified block.
                    <span class="badge bg-att-source rounded-pill">source</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>
                        The first block in the current <a href="https://ethereum.org/en/glossary/#epoch">epoch</a>.
                    </p>
                    <span class="badge bg-att-target rounded-pill">target</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    The most recent block seen, also known as the head of the chain.
                    <span class="badge bg-att-head rounded-pill">head</span>
                </li>
            </ul>
            <h3 class="mt-5">Validator inclusion</h3>
            <p class="card-text">
                The "target attesting" bars shows the total staked gwei (Ether) that attested to the
                majority-elected target epoch during the given epoch.
            </p>
            <p class="card-text">
                The "head attesting" bar shows the total staked gwei (Ether) that attested to a head beacon
                block that is in the canonical chain.
            </p>
            <p>
                <i>
                    What to watch for during The Merge:
                    The amount of Ether voting for a given target needs to be over 2/3 of the total
                    active staked amount to represent a supermajority.
                </i>
            </p>
            <div class="row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <canvas id="validatorInclusionChart" width="1" height="1"></canvas>
                </div>
                <div class="col-sm"></div>
            </div>
            <div>
                <p>
                    <a class="btn btn-sm btn-collapse" data-bs-toggle="collapse" href="#collapseInclusion"
                       role="button" aria-expanded="false" aria-controls="collapseDifficultyCode">
                        <i class="bi-question-square m-1"></i>
                        How to get this data
                    </a>
                </p>
                <div class="collapse" id="collapseInclusion">
                    <div class="card card-body">
                        <p>Teku exposes this data at the following endpoint:</p>
                        <pre>/teku/v1/validator_inclusion/{epoch}/global</pre>
                    </div>
                </div>
            </div>
            <h3 class="mt-5">Recent epochs</h3>
            <p class="card-text">
                The following charts show how many attestations are missing and how many have a timely
                source/target/head vote in the given epoch. Timely means the attestation was correct and
                delivered on-time.
            </p>
            <p>
                <i>
                    What to watch for during The Merge:
                    We hope to see these numbers stay similar to the numbers before the network upgrade.
                    Keep in mind the numbers for the last 2 epochs are not final and will update automatically
                    as attestations for the epochs propagate across the network.
                    This is because in the current ongoing epoch, attestations for the previous epoch can still
                    be
                    included in blocks.
                </i>
            </p>
            <div class="row">
                <div class="col-sm">
                    <canvas id="attDataNonMissingRecentChart" width="100" height="100"></canvas>
                </div>
                <div class="col-sm">
                    <canvas id="attDataMissingRecentChart" width="100" height="100"></canvas>
                </div>
                <div>
                    <p>
                        <a class="btn btn-sm btn-collapse" data-bs-toggle="collapse" href="#collapseAttRecent"
                           role="button" aria-expanded="false" aria-controls="collapseDifficultyCode">
                            <i class="bi-question-square m-1"></i>
                            How to get this data
                        </a>
                    </p>
                    <div class="collapse" id="collapseAttRecent">
                        <div class="card card-body">
                            <p>Query your CL node for the current state at</p>
                            <pre>/eth/v2/debug/beacon/states/{state_id}</pre>
                            <p>The response dictionary contains participation data. You can process per-epoch
                                data using the following code:</p>
                            <pre>
def process_epoch_participation_data(participation_data: list[str]) -> EpochParticipationData:
    indexes_missing = 0
    indexes_timely_source = 0
    indexes_timely_target = 0
    indexes_timely_head = 0

    for idx, status in enumerate(participation_data):
        if status == "0":
            indexes_missing += 1
            continue

        if status in ("1", "3", "5", "7"):
            indexes_timely_source += 1
        if status in ("2", "3", "6", "7"):
            indexes_timely_target += 1
        if status in ("4", "5", "6", "7"):
            indexes_timely_head += 1

    return EpochParticipationData(
        indexes_missing=indexes_missing,
        indexes_timely_source=indexes_timely_source,
        indexes_timely_target=indexes_timely_target,
        indexes_timely_head=indexes_timely_head,
    )
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
            <h3 class="mt-5">Long-term data</h3>
            <p class="card-text">
                The following charts show how many attestations were missed and how many had a timely
                source/target/head vote over a longer period of time.
                The vertical line represents the Bellatrix beacon chain upgrade that prepared the
                beacon chain for The Merge. The upgrade occurred at epoch 144,896 on September 2nd.
                The amount of correct attestations dropped a little bit but quickly recovered as
                validators likely fixed minor issues with their setups.
            </p>
            <p>
                <i>
                    What to watch for during The Merge:
                    This chart shows long-term data and will only start showing a trend a few hours
                    after The Merge. Similarly to the chart above, we hope to see these numbers
                    stay similar to the numbers before the network upgrade.
                </i>
            </p>
            <div class="row">
                <div class="col-sm">
                    <canvas id="attDataNonMissingChart" width="100" height="100"></canvas>
                </div>
                <div class="col-sm">
                    <canvas id="attDataMissingChart" width="100" height="100"></canvas>
                </div>
            </div>
            <div>
                <p>
                    <a class="btn btn-sm btn-collapse" data-bs-toggle="collapse" href="#collapseAttLongterm"
                       role="button" aria-expanded="false" aria-controls="collapseDifficultyCode">
                        <i class="bi-question-square m-1"></i>
                        How to get this data
                    </a>
                </p>
                <div class="collapse" id="collapseAttLongterm">
                    <div class="card card-body">
                        <p>Use the same approach as described in the Recent epochs section above - iterate over
                            historical epochs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>