{% extends "base.j2" %}

{% block content %}
<div class="px-3">
    <form id="inputForm" onsubmit="return false;">
        <div class="row p-3">
            <h2>For which validators would you like to calculate rewards?</h2>
            <p>
                You can add your validators in any of the three
                following ways:
            </p>
        </div>
        <div class="row p-3">
            <ul class="nav nav-tabs" id="validatorChoiceTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="index-tab" data-bs-toggle="tab" data-bs-target="#index" type="button" role="tab" aria-controls="home" aria-selected="true">Validator Indexes</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="pubkey-tab" data-bs-toggle="tab" data-bs-target="#pubkey" type="button" role="tab" aria-controls="profile" aria-selected="false">Validator public keys</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="eth1-tab" data-bs-toggle="tab" data-bs-target="#eth1" type="button" role="tab" aria-controls="contact" aria-selected="false">ETH1 deposit addresses</button>
                </li>
            </ul>
            <div class="tab-content" id="validatorChoiceTabContent">
                <div class="alert alert-info text-center fade show m-3 p-1" role="alert">
                    You can now also enter a list of comma-separated values!
                </div>
                <div class="tab-pane fade show active m-3" id="index" role="tabpanel" aria-labelledby="index-tab">
                    <div class="input-group mb-1 p-2">
                        <input
                                type="text" pattern="^( *(?:\d+) *,? *)+$"
                                class="form-control" placeholder="Type your validator index(es) here"
                                required
                        >
                        <button class="btn btn-outline-secondary add-input-button" type="button">
                            <i class="bi-plus-circle"></i>
                            Add more
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade m-3" id="pubkey" role="tabpanel" aria-labelledby="pubkey-tab">
                    <div class="input-group mb-1 p-2">
                        <input
                                type="text" pattern="^( *(?:0x[a-fA-F0-9]{96}) *,? *)+$"
                                class="form-control" placeholder="Type your validator public key(s) here"
                                title="One or more 96-character hexadecimal strings that begin with 0x is required"
                                required disabled
                        >
                        <button class="btn btn-outline-secondary add-input-button" type="button">
                            <i class="bi-plus-circle"></i>
                            Add more
                        </button>
                    </div>
                </div>
                <div class="tab-pane fade m-3" id="eth1" role="tabpanel" aria-labelledby="eth1-tab">
                    <div class="input-group mb-1 p-2">
                        <input
                                type="text" pattern="^( *(?:0x[a-fA-F0-9]{40}) *,? *)+$"
                                class="form-control" placeholder="Type your ETH1 deposit address(es) here"
                                title="One or more 40-character hexadecimal strings that begin with 0x is required"
                                required disabled
                        >
                        <button class="btn btn-outline-secondary add-input-button" type="button">
                            <i class="bi-plus-circle"></i>
                            Add more
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-3">
            <h2>Which currency would you like to calculate the rewards in?</h2>
            <p>
                The total amount of rewards will be returned in ETH
                and in the currency you select below.
            </p>
            <div class="input-group mb-1 p-2">
                <select class="form-select" id="selectCurrency">
                    {% for currency in currencies %}
                    <option value="{{ currency }}" {% if currency == "USD" %} selected {% endif %}>{{ currency }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row p-3">
            <h2>What date range would you like to calculate the rewards for?</h2>
            <div class="input-group mb-1 p-2">
                <select class="form-select" id="selectDateRange">
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023" selected>2023</option>
                    <option value="since_genesis">Since genesis</option>
                    <option value="custom">Custom</option>
                </select>
            </div>
            <div class="input-group mb-3" id="customDateRangeInput">
                <span class="input-group-text">Start date</span>
                <input type="text" class="form-control" id="datePickerStart">
                <span class="input-group-text">End date</span>
                <input type="text" class="form-control" id="datePickerEnd">
            </div>
            <div class="input-group mb-3">

            </div>
        </div>
        <div class="row p-3 pb-5">
            <button class="btn btn-primary" type="submit" id="calculateButton">
                <i class="bi-calculator"></i>
                Calculate
            </button>
        </div>
    </form>
    <div class="d-none m-3" id="calculateInfoMessage">
        <div class="d-flex justify-content-center m-3">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
        <p class="text-center">
            Please be patient, it may take up to several minutes to retrieve the requested data.
        </p>
    </div>
    <div class="alert alert-danger d-none m-3" role="alert" id="calculateErrorMessage">
    </div>
</div>
<div id="allRewardsDataContainer" class="container-fluid d-none pb-3">
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-3 w-50">
      <div id="stakingSummitToast" class="toast w-100" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header text-bg-primary">
          <strong class="me-auto">Are you a staking enthusiast?</strong>
          <small>Just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body bg-white">
          Hey there! Would you like to learn more about staking? We're happy to be able to offer users of ethstaker.tax
          a 35% discount to the
          <a href="https://www.stakingrewards.com/summit" target="_blank">Staking&nbsp;Summit</a>
          in Istanbul! Use the <b>Dare2Validate_35</b> discount code to get your tickets!
        </div>
      </div>
    </div>
  <div class="row align-items-center">
    <canvas id="rewardsChartCanvas"></canvas>
  </div>
  <div id="sumRewardsTablesContainer">
  </div>
  <div class="collapse" id="rewardsTablesCollapse">
    <div class="card card-body" id="rewardsTablesContainer"></div>
  </div>
</div>
{% endblock content %}
