<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">

    <!-- Custom CSS/JS for this webapp -->
    <link rel="stylesheet" href="/dist/main.css">
    <script src="/dist/main.js"></script>

    <title>Ethereum Staking Rewards Calculator</title>
</head>
<body>

<div class="container-fluid mt-3 mb-5">
    <div class="alert alert-info text-center alert-dismissible fade show" role="alert">
      <strong>ETH2.tax is now ethstaker.tax!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <!--
    <div class="alert alert-info text-center alert-dismissible fade show" role="alert">
        <strong>ethstaker.tax is part of an ongoing Gitcoin matching round, please consider donating <a href="https://gitcoin.co/grants/2148/ethstakertax-tax-information-for-stakers" target="_blank">here</a> to help keep the site up!</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    -->
    <div class="p-3">
        <form id="inputForm" onsubmit="return false;">
            <div class="row p-3">
                <h2>For which validators would you like to calculate rewards?</h2>
                <p>
                    You can add your validators in any of the three
                    following ways:
                </p>
            </div>
            <div class="row p-3">
                <ul class="nav nav-tabs" id="validatorChoiceTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="index-tab" data-bs-toggle="tab" data-bs-target="#index" type="button" role="tab" aria-controls="home" aria-selected="true">Validator Indexes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pubkey-tab" data-bs-toggle="tab" data-bs-target="#pubkey" type="button" role="tab" aria-controls="profile" aria-selected="false">Validator public keys</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="eth1-tab" data-bs-toggle="tab" data-bs-target="#eth1" type="button" role="tab" aria-controls="contact" aria-selected="false">ETH1 deposit addresses</button>
                    </li>
                </ul>
                <div class="tab-content" id="validatorChoiceTabContent">
                    <div class="tab-pane fade show active m-3" id="index" role="tabpanel" aria-labelledby="index-tab">
                        <div class="input-group mb-1 p-2">
                            <input
                                    type="number" min="0" max="1000000"
                                    class="form-control" placeholder="Type your validator index here"
                                    required
                            >
                            <button class="btn btn-outline-secondary add-input-button" type="button">
                                <i class="bi-plus-circle"></i>
                                Add another
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3" id="pubkey" role="tabpanel" aria-labelledby="pubkey-tab">
                        <div class="input-group mb-1 p-2">
                            <input
                                    type="text" pattern="^0x[a-fA-F0-9]{96}$"
                                    class="form-control" placeholder="Type your validator public key here"
                                    required disabled
                            >
                            <button class="btn btn-outline-secondary add-input-button" type="button">
                                <i class="bi-plus-circle"></i>
                                Add another
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3" id="eth1" role="tabpanel" aria-labelledby="eth1-tab">
                        <div class="input-group mb-1 p-2">
                            <input
                                    type="text" pattern="^0x[a-fA-F0-9]{40}$"
                                    class="form-control" placeholder="Type your ETH1 deposit address here"
                                    required disabled
                            >
                            <button class="btn btn-outline-secondary add-input-button" type="button">
                                <i class="bi-plus-circle"></i>
                                Add another
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <h2>Which currency would you like to calculate the rewards in?</h2>
                <p>
                    The total amount of rewards will be returned in ETH
                    and in the currency you select below.
                </p>
                <div class="input-group mb-1 p-2">
                    <select class="form-select" id="selectCurrency">
                        {% for currency in currencies %}
                        <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row p-3">
                <h2>What date range would you like to calculate the rewards for?</h2>
                <div class="input-group mb-1 p-2">
                    <select class="form-select" id="selectDateRange">
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022" selected>2022</option>
                        <option value="since_genesis">Since genesis</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
                <div class="input-group mb-3" id="customDateRangeInput">
                    <span class="input-group-text">Start date</span>
                    <input type="text" class="form-control" id="datePickerStart">
                    <span class="input-group-text">End date</span>
                    <input type="text" class="form-control" id="datePickerEnd">
                </div>
                <div class="input-group mb-3">

                </div>
            </div>
            <div class="row p-3">
                <button class="btn btn-outline-secondary" type="submit" id="calculateButton">
                    <i class="bi-calculator"></i>
                    Calculate
                </button>
            </div>
        </form>
        <div class="d-none m-3" id="calculateInfoMessage">
            <div class="d-flex justify-content-center m-3">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <p class="text-center">
                Please be patient, it may take up to several minutes to retrieve the requested data.
            </p>
        </div>
        <div class="alert alert-danger d-none m-3" role="alert" id="calculateErrorMessage">
        </div>
    </div>
    <div class="container-lg">
      <div class="row align-items-center">
        <div class="col-1">
        </div>
        <div class="col">
          <canvas id="rewardsChartCanvas"></canvas>
        </div>
        <div class="col-1">
        </div>
      </div>
    </div>
    <div id="sumRewardsTablesContainer">
    </div>
    <table style="display: none" id="combinedRewardsTable">
    </table>
    <div class="collapse" id="rewardsTablesCollapse">
        <div class="card card-body" id="rewardsTablesContainer"></div>
    </div>
</div>

<nav class="navbar fixed-bottom bg-light">
    <div class="col">
        <a class="btn btn-outline-primary mx-2" role="button" data-bs-toggle="modal" data-bs-target="#donationModal">
            <i class="bi-currency-dollar"></i>
            Support this website
        </a>
    </div>
    <div class="col d-flex justify-content-center">
        <a class="footer-image-link p-1" href="https://github.com/eth2353">
            <i class="bi-github"></i>
        </a>
        <a class="footer-image-link p-1" href="https://www.reddit.com/user/eth2353">
            <i class="bi-chat-left-text"></i>
        </a>
        <a class="footer-image-link p-1" href="https://twitter.com/eth2353">
            <i class="bi-twitter"></i>
        </a>
        <a class="footer-image-link p-1" href="https://discordapp.com/users/737740104281489531">
            <i class="bi-discord"></i>
        </a>
    </div>
    <div class="col">
        <a class="btn btn-outline-primary float-end mx-2" href="https://github.com/eth2353/ethstaker.tax/issues" role="button" target="_blank">
            <i class="bi-exclamation-circle"></i>
            Report an issue
        </a>
    </div>
</nav>

<!-- Donation modal -->
<div id="donationModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Support ethstaker.tax</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <p>
            Thanks for wanting to support this project. The most effective way to make a donation would be to make
            it to the <a href="https://gitcoin.co/grants/2148/ethstakertax-tax-information-for-stakers" target="_blank">Gitcoin grant</a> during a Gitcoin matching round.
        </p>
        <p>
            You can also donate directly to
        </p>
        <pre>0xb0d3E03e215e30a08F4006D5AA5bec98BF3FEcF7</pre>
        <p>
            Thank you!
        </p>
        <a role="button" onclick="navigator.clipboard.writeText('0xb0d3E03e215e30a08F4006D5AA5bec98BF3FEcF7').then(() => alert('Address copied to clipboard'));"><i class="bi-save"></i> Copy to clipboard </a>
        <br />
        <a role="button" data-bs-toggle="collapse" data-bs-target="#collapseDonateQr" style="text-decoration: none; color: inherit"><i class="bi-qr-code"></i> Show QR code </a>
        <div id="collapseDonateQr" class="accordion-collapse collapse" aria-labelledby="collapseDonateQr">
          <img src="/static/images/donate-qr.png" />
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>
