<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/site.webmanifest">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- Moment.js - required by Pikaday -->
    <script src="/static/momentjs/moment.js"></script>

    <!-- Pikaday date picker -->
    <link rel="stylesheet" href="/static/pikaday/pikaday.css">
    <script src="/static/pikaday/pikaday.js"></script>

    <!-- Custom CSS/JS for this webapp -->
    <link rel="stylesheet" href="/static/app.css">
    <script src="/static/app.js"></script>

    <title>ETH2 Staking Rewards Calculator</title>
</head>
<body>

<div class="container-fluid">
    <div class="p-3">
        <form id="inputForm" onsubmit="getRewards(); return false;">
            <div class="row p-3">
                <h2>For which validators would you like to calculate rewards?</h2>
                <p>
                    You can add your validators in any of the three
                    following ways:
                </p>
            </div>
            <div class="row p-3">
                <ul class="nav nav-tabs" id="validatorChoiceTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="index-tab" data-bs-toggle="tab" data-bs-target="#index" type="button" role="tab" aria-controls="home" aria-selected="true">Validator Indexes</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pubkey-tab" data-bs-toggle="tab" data-bs-target="#pubkey" type="button" role="tab" aria-controls="profile" aria-selected="false">Validator public keys</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="eth1-tab" data-bs-toggle="tab" data-bs-target="#eth1" type="button" role="tab" aria-controls="contact" aria-selected="false">ETH1 deposit addresses</button>
                    </li>
                </ul>
                <div class="tab-content" id="validatorChoiceTabContent">
                    <div class="tab-pane fade show active m-3" id="index" role="tabpanel" aria-labelledby="index-tab">
                        <div class="input-group mb-1 p-2">
                            <input
                                    type="number" min="0" max="500000"
                                    class="form-control" placeholder="Type your validator index here"
                            >
                            <button class="btn btn-outline-secondary" type="button" onclick="addInputElement(this);">
                                <i class="bi-plus-circle"></i>
                                Add another
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3" id="pubkey" role="tabpanel" aria-labelledby="pubkey-tab">
                        <div class="input-group mb-1 p-2">
                            <input
                                    type="text" pattern="^0x[a-fA-F0-9]{96}$"
                                    class="form-control" placeholder="Type your validator public key here"
                            >
                            <button class="btn btn-outline-secondary" type="button" onclick="addInputElement(this);">
                                <i class="bi-plus-circle"></i>
                                Add another
                            </button>
                        </div>
                    </div>
                    <div class="tab-pane fade m-3" id="eth1" role="tabpanel" aria-labelledby="eth1-tab">
                        <div class="input-group mb-1 p-2">
                            <input
                                    type="text" pattern="^0x[a-fA-F0-9]{40}$"
                                    class="form-control" placeholder="Type your ETH1 deposit address here"
                            >
                            <button class="btn btn-outline-secondary" type="button" onclick="addInputElement(this);">
                                <i class="bi-plus-circle"></i>
                                Add another
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-3">
                <h2>What timezone are you in?</h2>
                <p>
                    The timezone is taken into account to accurately count the rewards
                    for each day up until midnight in the specified timezone.
                </p>
                <div class="input-group mb-1 p-2">
                    <select class="form-select" id="selectTimezone">
                    {% for tz in common_timezones %}
                        <option value="{{ tz }}">{{ tz }}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row p-3">
                <h2>Which currency would you like to calculate the rewards in?</h2>
                <p>
                    The total amount of rewards will be returned in ETH
                    and in the currency you select below.
                </p>
                <div class="input-group mb-1 p-2">
                    <select class="form-select" id="selectCurrency">
                        {% for currency in currencies %}
                        <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row p-3">
                <h2>What date range would you like to calculate the rewards for?</h2>
                <div class="input-group mb-1 p-2">
                    <select class="form-select" id="selectDateRange">
                        <option value="2020">2020</option>
                        <option value="2021" selected>2021</option>
                        <option value="2022">2022</option>
                        <option value="since_genesis">Since genesis</option>
                        <option value="custom">Custom</option>
                    </select>
                </div>
                <div class="input-group mb-3" id="customDateRangeInput">
                    <span class="input-group-text">Start date</span>
                    <input type="text" class="form-control" id="datePickerStart">
                    <span class="input-group-text">End date</span>
                    <input type="text" class="form-control" id="datePickerEnd">
                </div>
                <div class="input-group mb-3">

                </div>
            </div>
            <div class="row p-3">
                <button class="btn btn-outline-secondary" type="submit" id="calculateButton">
                    <i class="bi-calculator"></i>
                    Calculate
                </button>
            </div>
        </form>
        <div class="d-none m-3" id="calculateInfoMessage">
            <div class="d-flex justify-content-center m-3">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <p class="text-center">
                Please be patient, it may take up to several minutes to retrieve the requested data.
            </p>
        </div>
        <div class="alert alert-danger d-none m-3" role="alert" id="calculateErrorMessage">
        </div>
    </div>
    <div id="sumRewardsTablesContainer">
    </div>
    <table style="display: none" id="combinedRewardsTable">
    </table>
    <div class="collapse" id="rewardsTablesCollapse">
        <div class="card card-body" id="rewardsTablesContainer"></div>
    </div>
    <footer class="footer mt-auto py-3 bg-light">
        <div class="row">
            <div class="col-sm">
                <a class="btn btn-outline-primary" href="https://gitcoin.co/grants/2148/eth2tax-tax-information-for-stakers" role="button" target="_blank">
                    <i class="bi-currency-dollar"></i>
                    Support this website
                </a>
            </div>
            <div class="col-sm d-flex justify-content-center">
                <a class="footer-image-link p-1" href="https://github.com/eth2353">
                    <i class="bi-github"></i>
                </a>
                <a class="footer-image-link p-1" href="https://www.reddit.com/user/eth2353">
                    <i class="bi-chat-left-text"></i>
                </a>
                <a class="footer-image-link p-1" href="https://twitter.com/eth2353">
                    <i class="bi-twitter"></i>
                </a>
                <a class="footer-image-link p-1" href="https://discordapp.com/users/737740104281489531">
                    <i class="bi-discord"></i>
                </a>
            </div>
            <div class="col-sm">
                <a class="btn btn-outline-primary float-end" href="https://github.com/eth2353/eth2.tax/issues" role="button" target="_blank">
                    <i class="bi-exclamation-circle"></i>
                    Report an issue
                </a>
            </div>
        </div>
    </footer>
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

</body>
</html>
